<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In | HarryHood</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/stylesheets/login.css" />
    <script src="main.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Abel|PT+Sans|Roboto');
    </style>
</head>
<body>
    <div class="page">
        <div class="left-image">
        </div>
        <div class="right-half">
            <div class="login-box">
                <h2 class="welcome-message">Welcome to HarryHood</h2>
                <div class="form">
                    <form>
                        <label>
                            <div>Username</div>
                            <input type="text" class="field">
                        </label>
                        <label>
                            <div>Password</div>
                            <input type="password" class="field">
                        </label>
                        <div>
                            <p><a href="#">Don't want to sign up? Try the demo mode!</a></p>
                        </div>
                        <input type="submit" value="Sign In" class="sign-in-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>