<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up | HarryHood</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/stylesheets/signup.css" />
    <script src="main.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Abel|PT+Sans|Roboto');
    </style>
    <script src="main.js"></script>
</head>
<body>
    <div class="signup-page">
        <div class="signup-nav-bar">
            <div class="signup-row-item">
                <img src="../../assets/images/logo/logo.png">
            </div>
            <div class="signup-row-item">
                <h3>Account</h3>
                <p>The only info we need</p>
            </div>
            <div class="signup-row-item">
                <h3>Basic Info</h3>
                <p>Won't be collected</p>
            </div>
            <div class="signup-row-item">
                <h3>Identity</h3>
                <p>No need for verification</p>
            </div>
            <div class="signup-row-item">
                <h3>Funding</h3>
                <p>No funding necessary</p>
            </div>
            <div class="signup-row-item">
                <h3>Submit</h3>
                <p>On this page</p>
            </div>
        </div>
        <div class="signup-below-nav">
            <div class="signup-container">
                <div class="signup-content">
                    <form class="signup-form">
                        <div class="signup-header-container">
                            <h1>Play Around With Your Money</h1>
                            <h2>HarryHood lets you pretend like you're investing in companies you love, commission-free.</h2>
                        </div>
                        <div class="signup-form-container">
                            <div class="signup-form-row">
                                <div class="signup-two-row">
                                    <div class="signup-two-left">
                                        <input type="text" placeholder="First name" class="signup-field">
                                    </div>
                                    <div class="signup-two-right">
                                        <input type="text" placeholder="Last name"class="signup-field">
                                    </div>
                                </div>
                            </div>
                            <div class="signup-form-row">
                                <input type="text" placeholder="Email address" class="signup-field">
                            </div>
                            <div class="signup-form-row">
                                <input type="text" placeholder="Username" class="signup-field">
                            </div>
                            <div class="signup-form-row">
                                <input type="password" placeholder="Password (min. 7 characters)" class="signup-field">
                            </div>
                            <div class="signup-form-row">
                                <input type="submit" value="Sign Up" class="signup-button">
                            </div>
                            <div class="signup-form-row">
                                <p>Already signed up? <a href="#">Log in here.</a></p>
                            </div>
                        </div>
                    </form>

                    <div class="signup-footer-container">
                        <hr class="signup-footer-line">
                        <div class="signup-footer-content">
                            <p>
                                All investments involve risk and the past performance of a security, or financial product does not
                                guarantee future
                                results or returns. Keep in mind that while diversification may help spread risk it does not assure a
                                profit, or
                                protect against loss, in a down market. There is always the potential of losing money when you invest in
                                securities, or
                                other financial products. Investors should consider their investment objectives and risks carefully before
                                investing. Also,
                                all transactions on this site aren't real. They're merely here to showcase my abilties as a software
                                developer.
                            </p>
                    
                            <p>
                                No securities and investments are actually offered to customers of HarryHood Financial, which is definitely
                                not a member FINRA & SIPC.
                                HarryHood Financial is a wholly owned subsidiary of Harrison Steg.
                            </p>
                    
                            <p>
                                You wont be able to check the background of HarryHood Financial LLC on FINRA’s BrokerCheck because this is
                                not a real brokerage.
                            </p>
                    
                            <p>
                                HarryHood No Terms & No Conditions  Contact Me  FAQ's don't exist 
                            </p>
                    
                            <p>
                                © 2019 HarryHood. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="signup-sidebar">

                    <div class="signup-sidebar-item">
                        <img src="../../assets/images/icons/animat-rocket-green.gif">
                        <h3>Watch your portfolio skyrocket.
                        Anytime. Anywhere.</h3>
                        <p>No actual securities transactions, but real-time market data and mock transactions help you 
                            understand my abilities as a software developer.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>