.dashboard-main {
  background-color: #1b1b1d;
  color: white; 
}

.header-container {
  width: 100vw;
  height: 64px;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #1b1b1d;
}

.content-main {
  min-height: 100vh;
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
}

.left-col {
  width: 675px;
}

.right-col {
  width: 290px;
}

.content-chart {
  margin-top: 20px;
}
.stocks-lists-container {
  overflow: scroll;
  height: 85vh;
  margin-top: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

.stocks-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #0e0d0d;
  height: 52px;
  align-items: center;
}

.watch-list-header {
  border-top: 1px solid #0e0d0d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #0e0d0d;
  height: 52px;
  align-items: center;
}

.stocks-lists-container::-webkit-scrollbar { width: 0 !important }



