body {
  margin: 0 0;
}

.page {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}


.left-image {
  height: 100%;
  flex: 1 1 50%;
  overflow: hidden;
}

.left-side-actual-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-half {
  flex: 1 1 50%;
}

.welcome-message {
  margin: 0 0 16px;
  font-size: 26px;
  font-weight: 900;
}

.login-box {
  margin-left: 52px;
  width: 412px;
  display: block;
  color: #171718;
}

label > div {
  padding: 9px 0;
  font-size: 14px;
  letter-spacing: .2px;
}

.login-p {
  padding: 10px 0;
  letter-spacing: .3px;
}

.login-p > .demo-button {
  color: #21ce99;
  text-decoration: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  font-family: inherit;
}

.login-p > .demo-button:hover {
  color: #1ae9aa;
}


.field {
  background: #fafafa;
  height: 48px;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: .3px;
  font-family: abel;
}

.field:hover {
  border-color: #cbcbcd;
  background-color: white;
  transition: border-color 200ms;
}

.field:focus {
  border-color: #21ce99;
  background-color: white;
}

.sign-in-button {
  height: 48px;
  border-radius: 4px;
  min-width: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  padding: 0 48px;
  white-space: nowrap;
  color: white;
  background: #21ce99;
  border-color: #21ce99;
  font-size: 14px;
  font-weight: 500;
  margin-top: 60px;
  letter-spacing: .3px;
  font-family: inherit;
}

.sign-in-button:hover {
  background: #1ae9aa;
  border-color: #1ae9aa;
}