.chart-header-container-stock {
  height: 104px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.chart-header-name-display {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: .8px;
}

.chart-header-price-value-stock-view {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: .8px;
  padding: 6px 0;
}

.chart-header-change-value-stock-page {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
}

.transaction-container {
  min-height: 350px;
  margin: 0 auto;
  width: 275px;
  margin-top: 30px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

.transaction-transaction-assets {
  height: 48px;
  box-sizing: border-box;
  border-top: 1px solid #0e0d0d;
}

.chart-timeline-selector {
  border-bottom: 1px solid #0e0d0d;
}

.chart-selector-button {
  text-decoration: none;
  border: 0;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  color: white;
  padding: 0 0;
  padding-right: 25px;
}

.chart-selector-button-a {
  text-decoration: none;
  border: 0;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  color: #21ce99;
  padding: 0 0;
  margin-right: 25px;
  padding-bottom: 12px;
  border-bottom: 2px solid #21ce99;
}

.stock-watch-button {
  background: #1b1b1d;
  border-color: #21ce99;
  color: #21ce99;
  margin-top: 30px;
  width: 100%;
  border: 1px solid #21ce99;
  border-radius: 4px;
  padding: 0 0;
  letter-spacing: .2px;
  cursor: pointer;
  height: 48px;
  min-width: 120px;
  font-size: 13px;
  font-weight: 600;
  outline: none;
}

.stock-watch-button:hover {
  border-color: #1ae9aa;
  color: #1ae9aa;
}

.watch-button-container {
  padding: 0 30px;
}

.stock-news-header-container {
  border-bottom: 1px solid #0e0d0d;
  margin-top: 30px;
}

.stock-news-header-text {
  font-size: 30px;
  padding-bottom: 20px;
}

.stock-news-list-item {
  width: 675px;
  display: flex;
  justify-content: space-between;
  height: 194px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.stock-news-list-item:hover {
  background-color: #171718;
}

.news-list-item-image > img {
  height: 135px;
  width: 200px;
  object-fit: cover;
}

.stock-news-text-items {
  padding-left: 25px;
  padding-right: 30px;
  height: 135px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 1px;
}

.stock-news-text-source {
  font-size: 13px;
  letter-spacing: .5px;
  padding-bottom: 5px;
}

.stock-news-text-headline {
  font-size: 15px;
  letter-spacing: .5px;
  padding-bottom: 5px;
}

.stock-news-text-summary {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
}

